.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 2%;
    gap: 1rem;
}

.about .about__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
}

.about .about__content {
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
}

.about .about__creator {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    max-width: 100%;
    max-height: 100%;
}
.about .about__creator .container {
  width: 2000px; /* Set the width of your container */
  height: 400px; /* Set the height of your container */
  overflow: hidden; /* Hide any overflow content */
  gap: 3rem;
  /* You can also set additional styles for the container */
  border: 1px solid #ccc;
  position: relative; /* If you need to position child elements */
}

.about .about__creator.container img {
  max-width: 100%; /* Limit the image width to the container width */
  max-height: 100%; /* Limit the image height to the container height */
  display: flex; /* Remove any extra spacing below the image */
  object-fit: contain;
  object-position: center center;
  align-items: center;
 justify-content: center;
}

.about .about__creator .about__creator__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.about .about__creator .about__creator__info .about__creator__info__content {
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #000000;
}

.about .about__creator .about__creator__info .about__creator__info__links {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}



@media screen and (max-width: 768px) {
    .about .about__heading {
        font-size: 48px;
        line-height: 58px;
    }

    .about .about__content {
        font-size: 16px;
        line-height: 20px;
        text-align: justify;
    }

    .about .about__creator {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
}